*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2{
    display: block;
    width:100%;
    margin: 10px auto;
    font-size: 2.5rem;
    text-align: center;
}
ul{
    display: block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    width: auto;
    border-radius: 10px;
}
ul li{
    border: 1px solid #000;
    list-style: none;
    border-radius: 10px;
    margin:  10px;
    padding:  20px 10px;
    font-size: 1.2rem;
    text-transform:inherit;
}
ul li:nth-child(even){
    background-color: rgb(225, 222, 222);
}
ul li button{
    float: right;
    width: 20%;
    padding: 5px;
    margin: auto 5px;
    align-items: center;
    justify-content: center;
}

ul li button:nth-child(1){
    background-color: red;
    color: white;
    border: 1px solid #0000;
    border-radius: 5px;
}
ul li button:nth-child(2){
    background-color: blue;
    color: white;
    border: 1px solid #0000;
    border-radius: 5px;
}
input{
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}
button{
    display: block;
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}
